<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Histórias Infantis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Histórias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="image-div">
                    <img src="{{ url_for('static', filename='/img/happy_kyds.jpeg') }}" alt="Imagem da história" class="img-fluid rounded">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="story-title">Título da História</h2>
                <p>Descrição da história...</p>
                <a href="#" class="btn btn-primary">Ler Mais</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="image-div">
                    <img src="{{ url_for('static', filename='/img/happy_kyds.jpeg') }}" alt="Imagem da história" class="img-fluid rounded">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="story-title">Título da História</h2>
                <p>Descrição da história...</p>
                <a href="#" class="btn btn-primary">Ler Mais</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="image-div">
                    <img src="{{ url_for('static', filename='/img/happy_kyds.jpeg') }}" alt="Imagem da história" class="img-fluid rounded">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="story-title">Título da História</h2>
                <p>Descrição da história...</p>
                <a href="#" class="btn btn-primary">Ler Mais</a>
            </div>
            <h1 class="mb-4">Mais histórias</h1>

            <!-- Índice de páginas -->
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <!-- Adicione mais itens de página conforme necessário -->
            </ul>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>